<footer class="sheet-footer cut-corner">
    <div class="action">
	    <h4>{{localize 'Liber.Character.Action.Simple'}}</h4>
	    <div class="walk icon" title="{{localize 'Liber.Character.Action.Walk'}}"></div>
	    <div class="shoot icon" title="{{localize 'Liber.Character.Action.Shoot'}}"></div>
	    <div class="cover icon" title="{{localize 'Liber.Character.Action.Cover'}}"></div>
	    <div class="talk icon" title="{{localize 'Liber.Character.Action.Talk'}}"></div>
	    <div class="indi icon" title="{{localize 'Liber.Character.Action.Indiv'}}"></div>
	</div>
	<div class="action">
	    <h4>{{localize 'Liber.Character.Action.Complexe'}}</h4>
	    <div class="run icon" title="{{localize 'Liber.Character.Action.Run'}}"></div>
	    <div class="multishoot icon" title="{{localize 'Liber.Character.Action.Multishoot'}}"></div>
	    <div class="soutien icon" title="{{localize 'Liber.Character.Action.Soutien'}}"></div>
	    <div class="commun icon" title="{{localize 'Liber.Character.Action.Commun'}}"></div>
	    <div class="discours icon" title="{{localize 'Liber.Character.Action.Discours'}}"></div>
	</div>
	<div class="action">
		<h4>{{localize 'Liber.Character.Action.Rapide'}}</h4>
	    <div class="rapide icon" title="{{localize 'Liber.Character.Action.Rapides'}}"></div>
	</div>
	<div class="action">
		<h4>{{localize 'Liber.Character.Action.Bonus'}}</h4>
	    <div class="bonus icon" title="{{localize 'Liber.Character.Action.Bonuss'}}"></div>
	</div>
</footer>