<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs navlib" data-group="primary">
		<a class="item bg active" data-tab="bg" title="{{localize 'libersf.histoire'}}"><span></span></a>
		<a class="item inven" data-tab="items" title="{{localize 'libersf.inv'}}"><span></span></a>
		<a class="item compe " data-tab="features" title="{{localize 'libersf.cpt'}}"><span></span></a>
		<a class="item magi andromede" data-tab="magie" title="{{localize 'libersf.magie'}}"><span></span></a>
		<a class="item outil" data-tab="lab" title="⚙"><span></span></a>
	</nav>
	<header>
		<h1>Liber SF</h1>
	</header>
	<div class="col3">
		<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
		<div class="avatar"> 
			<div class="scan"></div>
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
			<input class="niveau" name="system.background.level" type="text" value="{{actor.system.background.level}}" placeholder="1"/>
		</div>
		<h2>{{localize 'libersf.info'}}</h2>
		<div class="info">
			<span>{{localize 'libersf.race'}}</span><input class="race" type="text" value="{{actor.system.background.race}}" placeholder="{{localize 'libersf.race'}}" readonly />
			<span>{{localize 'libersf.metier'}}</span><input class="metier" type="text" value="{{actor.system.background.metier}}" placeholder="{{localize 'libersf.metier'}}" readonly />
			<span>{{localize 'libersf.faction'}}</span><input class="faction" type="text" value="{{actor.system.background.religion}}" placeholder="{{localize 'libersf.faction'}}" readonly />
		</div>
		<div class="clear"></div>
		<h2 class="marge">Bonus</h2>
		<div class="info">
			<input class="bonusrace" title="{{actor.system.background.bonusrace}}" name="system.background.bonusrace" type="text" value="{{actor.system.background.bonusrace}}" placeholder="{{localize 'libersf.bonus'}}"/>
			<input class="bonusmetier" title="{{actor.system.background.bonusmetier}}" name="system.background.bonusmetier" type="text" value="{{actor.system.background.bonusmetier}}" placeholder="{{localize 'libersf.bonus'}}" readonly />
		</div>
		<div class="clear"></div>
		<div class="points marge  vie">
			<h3>Santé</h3>
			<div class="life">
				<input class="hp" name="system.stat.hp.value" type="text" value="{{actor.system.stat.hp.value}}" placeholder="10"/><span style="display: inline-block;">/</span><input class="hpmax" name="system.stat.hp.max" type="text" value="{{actor.system.stat.hp.max}}" placeholder="10"/>
			</div>
			<div class="magie">
				<input class="psy andromede" name="system.psy.value" type="text" value="{{actor.system.magie}}" placeholder="10"/><span class="andromede">/</span><input class="psymax andromede" name="system.psy.max" type="text" value="{{actor.system.psy.max}}" placeholder="10" readonly />
			</div>
			<div class="armcl"><input class="actarm" name="system.stat.armure.value" type="text" value="{{actor.system.stat.armure.value}}" placeholder="0"/><span>/</span><input class="actarmmax" name="system.stat.armure.max" type="text" value="{{actor.system.stat.armure.max}}" placeholder="0" readonly/></div>
			<div class="boucl"><input class="actbou" name="system.stat.protections.value" type="text" value="{{actor.system.stat.protections.value}}" placeholder="0"/><span>/</span><input  class="actboumax" name="system.stat.protections.max" type="text" value="{{actor.system.stat.protections.max}}" placeholder="0" readonly/></div>
			<span class="update">↺</span>
		</div>
		<div class="points bonus marge">
			<h3>Points</h3>
			<div class="equipe">
				<input class="team" name="system.stat.team" type="text" value="{{actor.system.stat.team}}" title="{{localize 'libersf.team'}}" placeholder="0"/>
			</div>
			<div class="seul">
				<input class="solit" name="system.stat.solit" type="text" value="{{actor.system.stat.solit}}" title="{{localize 'libersf.solitude'}}" placeholder="0"/>
			</div>
			
		</div>
		
	</div>
	<div class="col4">
		{{!-- Sheet Body --}}
		<section class="sheet-body">	
			{{!-- bg Tab --}}
			<div id="bg" class="tab bg" data-group="primary" data-tab="bg">
				<div class="action0" title="{{localize 'libersf.marche'}}"></div>
				<div class="action0b" title="{{localize 'libersf.run'}}"></div>
				<div class="action1 jetdedes" data-name="Tircouv" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.Tir}}" data-armed="{{actor.system.armed}}" data-degat="{{actor.system.degatd}}" data-charged="{{actor.system.charged}}" title="{{localize 'libersf.tircouv'}}"></div>
				<div class="action2" title="{{localize 'libersf.commun'}}"></div>
				<div class="action3" title="{{localize 'libersf.soutien'}}"></div>
				<div class="action4 jetdedes" data-name="Tir" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.Tir}}" data-armed="{{actor.system.armed}}" data-degat="{{actor.system.degatd}}" data-charged="{{actor.system.charged}}" title="{{localize 'libersf.raffale'}}"></div>
				<div class="action5 jetdedes" data-name="Tir" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.Tir}}" data-armed="{{actor.system.armed}}" data-degat="{{actor.system.degatd}}" data-charged="{{actor.system.charged}}" title="{{localize 'libersf.horsmap'}}"></div>
				<div class="action6" title="{{localize 'libersf.couver'}}" data-lettre="14"></div>
				<div class="clear"></div>
				
				<div class="histoires marge">
					<h3>{{localize 'libersf.histoire'}}</h3>
					<textarea class="histoire" name="system.background.histoire">{{actor.system.background.histoire}}</textarea>
				</div>
				<div class="etat">
					{{#each actor.system.background.etat as |value etat|}}
				  		<a class="etat{{@index}} chnget" data-lettre="{{@index}}" style="opacity: {{value}};"></a>
					{{/each}}	
				</div>
			</div>
			{{!-- Items Tab --}}
			<div id="items" class="tab items" data-group="primary" data-tab="items">
				<h3 style="margin-top: 20px">{{localize 'libersf.armes'}}<span class="armetoile"></span></h3>
				<ul class="items-list armes">
					{{#each actor.arme as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
		                    	<div class="cache">
				                	<div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
				                    <div class="item-portee">{{item.system.portee}}</div>
				                    <div class="item-dommage">{{item.system.degats}}</div>
				                    <div class="item-poid">{{item.system.poids}}</div>
				                    <div class="item-valeurs">{{item.system.valeur}}</div>
				                </div>		                    
		                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<div class="item-techno">{{item.system.techno}}</div>
			                    	<span class="item-equip" title="{localize 'libersf.arme'}}" genre="arme" name="{{item.name}}" data-genre="arme" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-type="{{item.system.type}}" data-etoile="{{item.system.techno}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </div>

		                </li>
	                {{/each}}
	    		</ul>		               	   
		    	<h3>{{localize 'libersf.armures'}}</h3>
		    	<ul class="items-list armures">
		    		{{#each actor.armure as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
		                    	<div class="cache">
				                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
				                    <div class="item-resitance">{{item.system.resitance}}</div>
				                    <div class="item-hpmax">{{item.system.hp.max}}</div>
				                    <div class="item-poid">{{item.system.poids}}</div>
				                    <div class="item-valeurs">{{item.system.valeur}}</div>
				                </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<div class="item-techno">{{item.system.techno}}</div>
			                    	<span class="item-equip" title="{localize 'libersf.armure'}}" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}"  data-name="{{item.name}}" data-hpmax="{{item.system.hp.max}}" data-hp="{{item.system.resitance}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
		                    </div>
		                </li>
		            {{/each}}
		    	</ul>
		    	<h3>{{localize 'libersf.inv'}} <a class="item-control item-create" title="Create Item" data-type="objet"><i class="fas fa-plus"></i></a></h3>
				<ul class="items-list objets">
					{{#each actor.inventaire as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
		                    	<div class="cache">
			                    	<div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
				                    <div class="item-poid">{{item.system.poids}}</div>
				                    <div class="item-valeurs">{{item.system.valeur}}</div>
				                    <div class="item-techno">{{item.system.techno}}</div>
				                </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="{{localize 'libersf.chargeur'}}" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </div>
		                </li>
		            {{/each}}
	    		</ul>
				<div class="peser" title="{{localize 'libersf.encombrement'}}">
					<input class="encours" name="system.stat.encombrement.value" type="text" value="{{actor.system.stat.encombrement.value}}" placeholder="0"readonly=""/> / 
					<input class="enc" name="system.stat.encombrement.max" type="text" value="{{actor.system.stat.encombrement.max}}" placeholder="0" readonly="" /> {{localize 'libersf.kg'}}
					<div class="encom">
						<div class="barenc"></div>
					</div>
				</div>
			</div>
			<div id="features" class="tab features active" data-group="primary" data-tab="features">
				<h3 class="titreaction">{{localize 'libersf.action'}}</h3>
				<div class="list-compt">
					{{#each actor.system.attributs as |value caract|}}
						<div class="compt compt{{@index}}">
						  <a class="jetdedes" data-name="{{caract}}" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{value}}" title="{{caract}}">{{localize caract}}</a>
						  <input class="cpt{{@index}}" type="text" name="system.attributs.{{caract}}" value="{{value}}">
						</div>
					{{/each}}
				</div>
				<div class="grid-2col">
					<h2>{{localize 'libersf.restant'}}</h2>
					<input class="pointrestant" type="text" value="0" readonly/>
				</div>
				<div class="grid-2col">
					<h2>{{localize 'libersf.bonusmj'}}</h2>
					<input class="malussactor" name="system.stat.bonus" type="text" value="{{actor.system.stat.bonus}}" placeholder="0"/>
				</div>
				<p>{{localize 'libersf.caution2'}}</p>
				<p>{{localize 'libersf.caution'}}</p>
			
			</div>
			{{!-- Spell Tab --}}
			<div id="magie" class="tab items " data-group="primary" data-tab="magie">   
				<h3 style=>{{localize 'libersf.sort'}}</h3>
				<div class="zonemagie">
					<ul class="items-list">
		            {{#each actor.sort as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
			                    <div class="cache">
			                    	<div class="item-type" title="{{item.system.genre}}">{{item.system.genre}} - {{item.system.portee}}</div>
			                    </div>
		                  
		                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<div class="item-techno">{{item.system.techno}}</div>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </div>
		                </li>
		            {{/each}}
	        		</ul>
	        	</div>
			</div>
			{{!-- Lab Tab --}}
			<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
				générateur de monstres (en dev)
			</div>
		</section>
	</div>
</form>
