<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs navlib" data-group="primary">
		<a class="item inven active" data-tab="items" title="{{localize 'libersf.inv'}}"><span></span></a>
		<a class="item magi andromede" data-tab="magie" title="{{localize 'libersf.magie'}}"><span></span></a>
		<a class="item compe " data-tab="features" title="{{localize 'libersf.cpt'}}"><span></span></a>	
		<a class="item bg" data-tab="bg" title="{{localize 'libersf.histoire'}}"><span></span></a>
		<a class="item carac" data-tab="carac" title="{{localize 'libersf.carac'}}"><span></span></a>
		<a class="item outil" data-tab="lab" title="⚙"><span></span></a>
	</nav>
	<header>
		<h1>Liber SF</h1>
	</header>
	<div class="col3">
		<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
		<div class="avatar"> 
			<div class="scan"></div>
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
			<input class="niveau" name="system.background.level" type="text" value="{{actor.system.background.level}}" placeholder="1"/>
		</div>
		<h2>{{localize 'libersf.info'}}</h2>
		<div class="info">
			<span>{{localize 'libersf.race'}}</span><input class="race" type="text" value="{{listValues.traduct.race}}" placeholder="{{localize 'libersf.race'}}" readonly />
			<span>{{localize 'libersf.metier'}}</span><input class="metier" type="text" value="{{listValues.traduct.metier}}" placeholder="{{localize 'libersf.metier'}}" readonly />
			<span>{{localize 'libersf.faction'}}</span><input class="faction" type="text" value="{{listValues.traduct.faction}}" placeholder="{{localize 'libersf.faction'}}" readonly />
		</div>
		<div class="clear"></div>
		<h2 class="marge">Bonus</h2>
		<div class="info">
			<input class="bonusrace" title="{{actor.system.background.bonusrace}}" name="system.background.bonusrace" type="text" value="{{actor.system.background.bonusrace}}" placeholder="{{localize 'libersf.bonus'}}" readonly/>
			<input class="bonusmetier" title="{{actor.system.background.bonusmetier}}" name="system.background.bonusmetier" type="text" value="{{actor.system.background.bonusmetier}}" placeholder="{{localize 'libersf.bonus'}}" readonly />
			<!--input class="bonuslevel" title="{{actor.system.background.bonuslevel}}" name="system.background.bonuslevel" type="text" value="{{actor.system.background.bonuslevel}}" placeholder="{{localize 'libersf.bonuslevel'}}" readonly /-->
		</div>
		<div class="clear"></div>
		<div class="points marge  vie">
			<h3>{{localize 'libersf.sante'}}</h3>
			<div class="life">
				<input class="hp" name="system.stat.hp.value" type="text" value="{{actor.system.stat.hp.value}}" placeholder="10"/><span style="display: inline-block;">/</span><input class="hpmax" name="system.stat.hp.max" type="text" value="{{actor.system.stat.hp.max}}" placeholder="10"/>
			</div>
			<div class="magie">
				<input class="psy andromede" name="system.psy.value" type="text" value="{{actor.system.magie}}" placeholder="10"/><span class="andromede">/</span><input class="psymax andromede" name="system.psy.max" type="text" value="{{actor.system.psy.max}}" placeholder="10" readonly />
			</div>
			<div class="armcl"><input class="actarm" name="system.stat.armure.value" type="text" value="{{actor.system.stat.armure.value}}" placeholder="0"/><span>/</span><input class="actarmmax" name="system.stat.armure.max" type="text" value="{{actor.system.stat.armure.max}}" placeholder="0" readonly/></div>
			<div class="boucl"><input class="actbou" name="system.stat.protections.value" type="text" value="{{actor.system.stat.protections.value}}" placeholder="0"/><span>/</span><input  class="actboumax" name="system.stat.protections.max" type="text" value="{{actor.system.stat.protections.max}}" placeholder="0" readonly/></div>
			<span class="update">↺</span>
		</div>
		<div class="points bonus marge">
			<h3>{{localize 'libersf.point'}}</h3>
			<div class="equipe">
				<input class="team" name="system.stat.team" type="text" value="{{actor.system.stat.team}}" title="{{localize 'libersf.team'}}" placeholder="0"/>
			</div>
			<div class="seul">
				<input class="solit" name="system.stat.solit" type="text" value="{{actor.system.stat.solit}}" title="{{localize 'libersf.solitude'}}" placeholder="0"/>
			</div>
			
		</div>
		
	</div>
	<div class="col3">
		<div class="corps">
			<div class="scan2"></div>
			<div class="colo">
				<div class="z1">
					<div class="zone tete">
						<div class="bar"></div>
						<input class="refbar" data-zone="tete" name="system.stat.tete" type="text" value="{{actor.system.stat.tete}}" placeholder="0"/>
					</div>
				</div>
				<div class="z3">
					<div class="zone bd">
						<div class="bar"></div>
						<input class="refbar" data-zone="bd" name="system.stat.bd" type="text" value="{{actor.system.stat.bd}}" placeholder="0" style=""/>
					</div>
				</div>
				<div class="z2">
					<div class="zone torse">
						<div class="bar"></div>
						<input class="refbar" data-zone="torse" name="system.stat.torse" type="text" value="{{actor.system.stat.torse}}" placeholder="0"/>
					</div>
				</div>
				<div class="z4">
					<div class="zone bg">
						<div class="bar"></div>
						<input class="refbar" data-zone="bg" name="system.stat.bg" type="text" value="{{actor.system.stat.bg}}" placeholder="0"/>
					</div>
				</div>
				<div class="z5">
					<div class="zone jd">
						<div class="bar"></div>
						<input class="refbar" data-zone="jd" name="system.stat.jd" type="text" value="{{actor.system.stat.jd}}" placeholder="0"/>
					</div>
				</div>		
				<div class="z6">
					<div class="zone jg">
						<div class="bar"></div>
						<input class="refbar" data-zone="jg" name="system.stat.jg" type="text" value="{{actor.system.stat.jg}}" placeholder="0"/>
					</div>
				</div>		
			</div>
		</div>
		<div class="equipement">
			<h3>{{localize 'libersf.equipement'}}</h3>
			<a class="icongun jetdedes" data-name="Tir"></a><input  class="armed" name="system.armed" type="text" value="{{actor.system.armed}}" title="{{actor.system.armed}}" placeholder="Arme" readonly="" /><input  class="degatd" name="system.degatd" value="{{actor.system.degatd}}" readonly="" style="display: none;"/><a class="desequi" data-genre="arme">🗑</a>
			<span class="iconcha"></span><input  class="charged" name="system.charged" type="text" value="{{actor.system.charged}}" title="{{actor.system.charged}}" placeholder="Chargeur" readonly="" /><a class="desequi" data-genre="chargeur">🗑</a>			
			<span class="iconarm"></span><input  class="armurequi" name="system.prog" type="text" value="{{actor.system.prog}}" title="{{actor.system.prog}}" placeholder="Armure" readonly="" /><a class="desequi" data-genre="armure">🗑</a>
			<span class="iconbou"></span><input  class="bouclierqui" name="system.prod" type="text" value="{{actor.system.prod}}"  title="{{actor.system.prod}}" placeholder="Bouclier" readonly="" /><a class="desequi" data-genre="bouclier">🗑</a>
			<span class="iconaut"></span><input  class="autrequi" name="system.autre" type="text" value="{{actor.system.autre}}" title="{{actor.system.autre}}" placeholder="Autre" readonly="" /><a class="desequi" data-genre="autre">🗑</a>
		</div>

	</div>
	<div class="col31">
		<span class="bleu"><input  class="credit" name="system.stat.credit" type="text" value="{{actor.system.stat.credit}}" placeholder="Credit"/> Cr</span>
		{{!-- Sheet Body --}}
		<section class="sheet-body">	
			{{!-- bg Tab --}}
			<div id="bg" class="tab bg" data-group="primary" data-tab="bg">
				<div class="troisquart">
				<h2>{{localize 'libersf.action0'}}</h2>
					<div class="action0b" title="{{localize 'libersf.run'}}"></div>
					<div class="action1 jetdedes" data-name="Tircouv" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.Tir}}" data-armed="{{actor.system.armed}}" data-degat="{{actor.system.degatd}}" data-charged="{{actor.system.charged}}" title="{{localize 'libersf.tircouv'}}"></div>
					<div class="action3" title="{{localize 'libersf.soutien'}}"></div>
					<div class="action2" title="{{localize 'libersf.commun'}}"></div>
					<h2>{{localize 'libersf.action1'}}</h2><!--a tester-->
					<div class="action0" title="{{localize 'libersf.marche'}}"></div>
					<div class="action4 jetdedes" data-name="Tir" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.Tir}}" data-armed="{{actor.system.armed}}" data-degat="{{actor.system.degatd}}" data-charged="{{actor.system.charged}}" title="{{localize 'libersf.raffale'}}"></div>
					<div class="action6" title="{{localize 'libersf.couver'}}" data-lettre="14"></div>
					<div class="action9" title="{{localize 'libersf.parler'}}"></div>
				</div>
				<div class="unquart">
					<h2>{{localize 'libersf.action3'}}</h2><!--a tester-->
					<div class="action7" title="{{localize 'libersf.rapide'}}"></div>
					<h2>{{localize 'libersf.action3'}}</h2><!--a tester-->
					<div class="action8" title="{{localize 'libersf.actionb'}}"></div>	
				</div>			
				<div class="clear"></div>
				
				<div class="histoires marge">
					<h3>{{localize 'libersf.histoire'}}</h3>
					<textarea class="histoire" name="system.background.histoire">{{actor.system.background.histoire}}</textarea>
				</div>
				<div class="etat">
					{{#each actor.system.background.etat as |value etat|}}
				  		<a class="etat{{@index}} chnget" data-lettre="{{@index}}" style="opacity: {{value}};"></a>
					{{/each}}	
				</div>
			</div>

			{{!-- caract Tab --}}
			<div id="carac" class="tab" data-group="primary" data-tab="carac">
				<h3 class="titlecaract">{{localize 'libersf.carac'}}</h3>
				<div class="zonecaract">
					{{#each actor.system.caractere as |value caract|}}
						<div class="compt">
							<span title="{{localize caract}}">{{localize caract}}</span><input  name="system.caractere.{{caract}}" type="text" value="{{value}}" title="system.caractere.{{caract}}" placeholder="{{localize caract}}" />
						</div>
					{{/each}}
				</div>
			</div>
			{{!-- Items Tab --}}
			<div id="items" class="tab items" data-group="primary" data-tab="items">
				<h3 style="margin-top: 20px">{{localize 'libersf.armes'}}<span class="armetoile"></span></h3>
				<ul class="items-list armes">
					{{#each actor.arme as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
		                    	<div class="cache">
				                	<div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
				                    <div class="item-portee">{{item.system.portee}}</div>
				                    <div class="item-dommage">{{item.system.degats}}</div>
				                    <div class="item-poid">{{item.system.poids}}</div>
				                    <div class="item-valeurs">{{item.system.valeur}}</div>
				                </div>		                    
		                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<div class="item-techno">{{item.system.techno}}</div>
			                    	<span class="item-equip" title="{{localize 'libersf.arme'}}" genre="arme" name="{{item.name}}" data-genre="arme" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-type="{{item.system.type}}" data-etoile="{{item.system.techno}}">+</span>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </div>

		                </li>
	                {{/each}}
	    		</ul>		               	   
		    	<h3>{{localize 'libersf.armures'}}</h3>
		    	<ul class="items-list armures">
		    		{{#each actor.armure as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
		                    	<div class="cache">
				                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
				                    <div class="item-resitance">{{item.system.resitance}}</div>
				                    <div class="item-hpmax">{{item.system.hp.max}}</div>
				                    <div class="item-poid">{{item.system.poids}}</div>
				                    <div class="item-valeurs">{{item.system.valeur}}</div>
				                </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<div class="item-techno">{{item.system.techno}}</div>
			                    	<span class="item-equip" title="{{localize 'libersf.armure'}}" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}"  data-name="{{item.name}}" data-hpmax="{{item.system.hp.max}}" data-hp="{{item.system.resitance}}">+</span>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
		                    </div>
		                </li>
		            {{/each}}
		    	</ul>
		    	<h3>{{localize 'libersf.inv'}} <a class="item-control item-create" title="Create Item" data-type="objet"><i class="fas fa-plus"></i></a></h3>
				<ul class="items-list objets">
					{{#each actor.inventaire as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
		                    	<div class="cache">
			                    	<div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
				                    <div class="item-poid">{{item.system.poids}}</div>
				                    <div class="item-valeurs">{{item.system.valeur}}</div>
				                    <div class="item-techno">{{item.system.techno}}</div>
				                </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="{{localize 'libersf.chargeur'}}" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}">+</span>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </div>
		                </li>
		            {{/each}}
	    		</ul>
				<div class="peser" title="{{localize 'libersf.encombrement'}}">
					<input class="encours" name="system.stat.encombrement.value" type="text" value="{{actor.system.stat.encombrement.value}}" placeholder="0"readonly=""/> / 
					<input class="enc" name="system.stat.encombrement.max" type="text" value="{{actor.system.stat.encombrement.max}}" placeholder="0" readonly="" /> {{localize 'libersf.kg'}}
					<div class="encom">
						<div class="barenc"></div>
					</div>
				</div>
			</div>
			<div id="features" class="tab features active" data-group="primary" data-tab="features">
				<h3 class="titreaction">{{localize 'libersf.action'}}</h3>
				<div class="list-compt">
					{{#each actor.system.attributs as |value caract|}}
						<div class="compt compt{{@index}}">
						  <a class="jetdedes" data-name="{{caract}}" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{value}}" title="{{caract}}">{{localize caract}}</a>
						  <input class="cpt{{@index}}" type="text" name="system.attributs.{{caract}}" value="{{value}}">
						</div>
					{{/each}}
				</div>
				<div class="grid-2col">
					<h2>{{localize 'libersf.restant'}}</h2>
					<input class="pointrestant" type="text" value="0" readonly/>
				</div>
				<div class="grid-2col">
					<h2>{{localize 'libersf.bonusmj'}}</h2>
					<input class="malussactor" name="system.stat.bonus" type="text" value="{{actor.system.stat.bonus}}" placeholder="0"/>
				</div>
				<p>{{localize 'libersf.caution2'}}</p>
				<p>{{localize 'libersf.caution'}}</p>
			
			</div>
			{{!-- Spell Tab --}}
			<div id="magie" class="tab items " data-group="primary" data-tab="magie">   
				<h3 style=>{{localize 'libersf.sort'}}</h3>
				<div class="zonemagie">
					<ul class="items-list">
		            {{#each actor.sort as |item id|}}
		                <li class="item rexrow" data-item-id="{{item._id}}">
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
		                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
		                    <div class="zonecontrole">
			                    <div class="cache">
			                    	<div class="item-type" title="{{item.system.genre}}">{{item.system.genre}} - {{item.system.portee}}</div>
			                    </div>
		                  
		                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                    <div class="item-controls">
			                    	<div class="item-techno">{{item.system.techno}}</div>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </div>
		                </li>
		            {{/each}}
	        		</ul>
	        	</div>
			</div>
			{{!-- Lab Tab --}}
			<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
				<h3>{{localize 'libersf.race'}}</h3>
				<div class="configuration">
					<SELECT class="sexeliste" size="1" name="system.background.sexe">
						{{selectOptions listValues.sexe selected=actor.system.background.sexe labelAttr="label" localize=true blank="libersf.none"}}
	                </select>
					<SELECT class="raceliste" size="1" name="system.background.race">
						{{selectOptions listValues.race selected=actor.system.background.race labelAttr="label" localize=true blank="libersf.none"}}
	                </select>
		            <h2>{{localize 'libersf.faction'}}</h2>
					<SELECT class="factionliste" size="1" name="system.background.religion">
						{{selectOptions listValues.faction selected=actor.system.background.religion labelAttr="label" localize=true blank="libersf.none"}}
	                </select>
		            <h2>{{localize 'libersf.metier'}}</h2>
					<SELECT class="metierliste" size="1" name="system.background.metier">
						{{selectOptions listValues.metier selected=actor.system.background.metier labelAttr="label" localize=true blank="libersf.none"}}<!--andromède magicien-->
	                </select>
		                <div class="grid-2col">
		                	<h2>{{localize 'libersf.comp'}}</h2>
		                	<input type="text" name="system.nomcomp" value="{{actor.system.nomcomp}}" placeholder="{{localize 'libersf.comp'}}">
		                </div>
		                <div class="grid-2col">
		                	<h2>{{localize 'libersf.mut'}}</h2>
		                	<SELECT class="mutation" size="1" name="system.mutation">
								{{selectOptions listValues.choix selected=actor.system.mutation labelAttr="label" localize=true blank="libersf.none"}}
			            	</select>
		                </div>
		                <div class="clear"></div>
		                <div class="grid-2col">
		                	<h2>Andromède</h2>
							<SELECT class="andomedes" size="1" name="system.andomedes">
			                    {{selectOptions listValues.choix selected=actor.system.andomedes labelAttr="label" localize=true blank="libersf.none"}}
			                </select>	
		                </div>
		            <input type="a" value="{{localize 'libersf.choisir'}}" class="validation bouton">   
		        </div>	

	            <p>{{localize 'libersf.regle'}}<br>{{localize 'libersf.regle2'}}<br><br>{{localize 'libersf.regle3'}}<br>{{localize 'libersf.regle5'}}<br>{{localize 'libersf.regle6'}}<br>{{localize 'libersf.regle7'}}<br>{{localize 'libersf.regle8'}}<br>{{localize 'libersf.regle9'}}<br>{{localize 'libersf.regle10'}}<br><br>{{localize 'libersf.regle11'}}</p>
				<div class="effetarme"></div>					
			</div>
		</section>
	</div>
</form>
