<form class="{{cssClass}} Liber vehi" autocomplete="off" >
	{{!-- Sheet Header --}}
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs navlib" data-group="primary">
		<a class="item bg active" data-tab="bg" title="{{localize 'libersf.histoire'}}""><span></span></a>
		<!--a class="item carac " data-tab="carac"><span></span></a-->
		<a class="item inven active" data-tab="items" title="{{localize 'libersf.inv'}}"><span></span></a>
		<a class="item compe " data-tab="features" title="{{localize 'libersf.cpt'}}"><span></span></a>
		<a class="item magi andromede" data-tab="magie" title="{{localize 'libersf.magie'}}"><span></span></a>
		<a class="item outil" data-tab="lab" title="⚙"><span></span></a>
	</nav>
	<header>
		<h1>Liber SF</h1>
	</header>
	<div class="col3">
		<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
		<div class="avatar"> 
			<div class="scan"></div>
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
			<!--input class="niveau" name="system.background.level" type="text" value="{{actor.system.background.level}}" placeholder="1"/-->
		</div>
		<h2>{{localize 'libersf.info'}}</h2>
		<div class="info">
			<span>{{localize 'libersf.faction'}}</span><input class="faction" type="text" value="{{listValues.traduct.faction}}" placeholder="{{localize 'libersf.faction'}}" readonly />
			<span>{{localize 'libersf.techno'}}</span><input class="model" name="system.model.technologie" type="text" value="{{actor.system.model.technologie}}" placeholder="☆ ☆ ☆ ☆ ☆" readonly="" />
			<span>{{localize 'libersf.type'}}</span><input class="metier types" type="text" value="{{listValues.traduct.type}}" placeholder="{{localize 'libersf.type'}}" readonly />
			<span>{{localize 'libersf.taille'}}</span><input class="tailles" type="text" value="{{listValues.traduct.taille}}" placeholder="{{localize 'libersf.taille'}}" readonly />
		</div>
		<div class="clear"></div>
		<div class="points marge moteur space">
			<h3>{{localize 'libersf.sante'}}</h3>
			<div class="armcl"><input class="actarm" name="system.stat.armure.value" type="text" value="{{actor.system.stat.armure.value}}" placeholder="0"/><span>/</span>
			<input class="actarmmax" name="system.stat.armure.max" type="text" value="{{actor.system.stat.armure.max}}" placeholder="0" readonly/></div>
			<div class="boucl"><input class="actbou" name="system.stat.protections.value" type="text" value="{{actor.system.stat.protections.value}}" placeholder="0"/><span>/</span>
			<input  class="actboumax" name="system.stat.protections.max" type="text" value="{{actor.system.stat.protections.max}}" placeholder="0" readonly/></div>
			<span class="update">↺</span>
		</div>
		
		<div class="moteur marge">
			<h3 class="">{{localize 'libersf.moteur'}} <span class="etoilemoteur"></span></h3>
			<h2>{{localize 'libersf.l8'}}</h2>
			<input class="motor prems" name="system.stat.moteur.value" type="text" value="{{actor.system.stat.moteur.value}}" placeholder="0"/><span>/</span><input  class="moteurmax" name="system.stat.moteur.max" type="text" value="{{actor.system.stat.moteur.max}}" placeholder="0" readonly/>
			<h2>{{localize 'libersf.energie'}}</h2>
			<div class="encom margin">
				<div class="barenc"></div>
				<input class="encours prems" name="system.stat.encombrement.value" type="text" value="{{actor.system.stat.encombrement.value}}" placeholder="0"/> / 
				<input class="enc" name="system.stat.encombrement.max" type="text" value="{{actor.system.stat.encombrement.max}}" placeholder="0"/></p>			
			</div>
		</div>
		
		<div class="listaction">
			<h2>Action du pilote</h2>
			<div class="action10" title="{{localize 'libersf.action10'}}"></div>
			<div class="action11" title="{{localize 'libersf.action11'}}"></div>
			<div class="action12" title="{{localize 'libersf.action12'}}"></div>
			<div class="action13" title="{{localize 'libersf.action13'}}"></div>
			<div class="action14" title="{{localize 'libersf.action14'}}"></div>
			<div class="action15" title="{{localize 'libersf.action15'}}"></div>
			<div class="action16" title="{{localize 'libersf.action16'}}"></div>
			<h2>Autres actions</h2>
			<div class="action17" title="{{localize 'libersf.action17'}}"></div>
			<div class="action18" title="{{localize 'libersf.action18'}}"></div>
			<div class="action19" title="{{localize 'libersf.action19'}}"></div>
			<div class="action20" title="{{localize 'libersf.action20'}}"></div>
			<div class="action21" title="{{localize 'libersf.action21'}}"></div>
			<div class="action22" title="{{localize 'libersf.action22'}}"></div>
			<div class="action23" title="{{localize 'libersf.action23'}}"></div>
			<div class="action24" title="{{localize 'libersf.action24'}}"></div>
		</div>
	</div>
	<div class="col32">
		<span class="bleu"><input  class="credit" name="system.stat.credit" type="text" value="{{actor.system.stat.credit}}" placeholder="Credit" readonly /> Cr</span>
		<div class="vehicule" style="background:{{actor.system.back.vaisseau}};background-size:contain;">
			<div class="scan3"></div>
			<div class="danger" style="background:{{actor.system.back.danger}} ">
				<div class="zone proue">
					<input class="refbar" data-zone="proue" name="system.bouclier.proue.value" type="text" value="{{actor.system.bouclier.proue.value}}" placeholder="0" title="Bouclier proue"/>
					<input class="refbarmax" data-zone="prouemax" name="system.bouclier.proue.max" type="text" value="{{actor.system.bouclier.proue.max}}" placeholder="0" title="Bouclier proue"/>
				</div>
				<div class="zone babord">
					<input class="refbar" data-zone="babord" name="system.bouclier.babord.value" type="text" value="{{actor.system.bouclier.babord.value}}" placeholder="0" style="" title="Bouclier babord"/>
					<input class="refbarmax" data-zone="babord" name="system.bouclier.babord.max" type="text" value="{{actor.system.bouclier.babord.max}}" placeholder="0" style="" title="Bouclier babord"/>
				</div>
				<div class="zone centre">
					<input data-zone="centre" value="{{actor.system.stat.armure.value}} / {{actor.system.stat.armure.max}}" type="text" placeholder="torse" title="0" readonly />
				</div>
				<div class="zone tribord">
					<input class="refbar" data-zone="tribord" name="system.bouclier.tribord.value" type="text" value="{{actor.system.bouclier.tribord.value}}" placeholder="0" title="Bouclier tribord"/>
					<input class="refbarmax" data-zone="tribord" name="system.bouclier.tribord.max" type="text" value="{{actor.system.bouclier.tribord.max}}" placeholder="0" title="Bouclier tribord"/>
				</div>
				<div class="zone poupe">
					<input class="refbar" data-zone="poupe" name="system.bouclier.poupe.value" type="text" value="{{actor.system.bouclier.poupe.value}}" placeholder="0" title="Bouclier poupe"/>
					<input class="refbarmax" data-zone="poupe" name="system.bouclier.poupe.max" type="text" value="{{actor.system.bouclier.poupe.max}}" placeholder="0" title="Bouclier poupe"/>
				</div>
			</div>
		</div>
		<div class="moitie">
			<h3>{{actor.system.model.point.arme}} {{localize 'libersf.armes'}}</h3>
			<ul class="items-list canon">
				{{#each actor.varme as |item id|}}
	                <li class="item rexrow" data-item-id="{{item._id}}">
	                    <div class="item-qty">{{item.system.quantite}}</div>
	                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
	                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
	                    <div class="zonecontrole">
	                    	<div class="cache">
			                	<div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
			                    <div class="item-portee">{{item.system.portee}}</div>
			                    <div class="item-dommage">{{item.system.degats}}</div>
			                    <div class="item-poid">{{item.system.poids}}</div>
			                    <div class="item-valeurs">{{item.system.valeur}}</div>
			                </div>		                    
	                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
		                    <div class="item-controls">
		                    	<div class="item-techno">{{item.system.techno}}</div>
		                    	<span class="item-equip" title="Equipé arme" genre="arme" name="{{item.name}}" data-genre="arme" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-type="{{item.system.type}}" data-etoile="{{item.system.techno}}">+</span>
		                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
		                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
		                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
		                    </div>
		                </div>

	                </li>
                {{/each}}
			</ul>
			<div class="suny"><a data-name="Mécanique" title="Réparer Véhicule">{{localize 'libersf.meca'}}</a>
			<input class="sun sun1" name="" type="text" value="{{actor.system.model.moteur.etoile}}" placeholder=""/></div>
			<div class="suny"><a data-name="Pilotage" title="Pilotage">{{localize 'libersf.pilo'}}</a>
			<input class="sun sun2" name="" type="text" value="{{actor.system.model.pilotage}}" placeholder=""/></div>
			<div class="suny"><a data-name="Piratage" title="Piratage">{{localize 'libersf.pira'}}</a>
			<input class="sun sun3" name="" type="text" value="{{actor.system.model.piratage}}" placeholder=""/></div>
			<div class="suny"><a data-name="Visé" title="Visé">{{localize 'libersf.vise'}}</a>
			<input class="sun sun4" name="" type="text" value="{{actor.system.model.vise}}" placeholder=""/></div>
			<div class="clear"></div>
		</div>
		<div class="moitie">
			{{!-- Sheet Body --}}
			<section class="sheet-body">
				<div id="bg" class="tab bg" data-group="primary" data-tab="bg">
		    		<h3>{{localize 'libersf.histoire'}}</h3>
		    		<div class="zoneinfo inventator">
		    			<textarea class="histoire" name="system.background.histoire">{{actor.system.background.histoire}}</textarea>
		    		</div>
		    	</div>
				{{!-- Items Tab --}}
				<div id="items" class="tab items" data-group="primary" data-tab="items">
					<h3>{{localize 'libersf.inv'}}</h3>
					<ul class="items-list inventator">
		        		<h2>{{actor.system.model.point.piece}} {{localize 'libersf.piece'}} <a class="item-control item-create" title="Create Item" data-type="piece" style="float: right;"><i class="fas fa-plus"></i></a></h2>
			            {{#each actor.piece as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                	<div class="item-qty">{{item.system.quantite}}</div>
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="zonecontrole">
			                    	<div class="cache">
					                    <div class="item-valeur">{{item.system.valeur}}</div>
					                    <div class="item-techno">{{item.system.techno}}</div>
					                </div>
			                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
				                    <div class="item-controls">
				                    	<span class="item-equip" title="Equipé Chargeur" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}">+</span>
				                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>
			                    </div>
			                </li>
			            {{/each}}
		        		<h2>{{localize 'libersf.inv'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>
			            {{#each actor.arme as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-qty">{{item.system.quantite}}</div>
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="zonecontrole">
			                    	<div class="cache">
					                	<div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
					                    <div class="item-portee">{{item.system.portee}}</div>
					                    <div class="item-dommage">{{item.system.degats}}</div>
					                    <div class="item-poid">{{item.system.poids}}</div>
					                    <div class="item-valeurs">{{item.system.valeur}}</div>
					                </div>		                    
			                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
				                    <div class="item-controls">
				                    	<div class="item-techno">{{item.system.techno}}</div>
				                    	<span class="item-equip" title="Equipé arme" genre="arme" name="{{item.name}}" data-genre="arme" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-type="{{item.system.type}}" data-etoile="{{item.system.techno}}">+</span>
				                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>
				                </div>

			                </li>
		                {{/each}}
		                {{#each actor.armure as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-qyt">{{item.system.quantite}}</div>
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="zonecontrole">
			                    	<div class="cache">
			                    		<div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
					                    <div class="item-poid">{{item.system.poids}}</div>
					                    <div class="item-valeur">{{item.system.valeur}}</div>
					                </div>					                    
				                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
				                    <div class="item-controls">
				                    	<div class="item-techno">{{item.system.techno}}</div>
				                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>
				                </div>
			                </li>
			            {{/each}}
			            {{#each actor.inventaire as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-qty">{{item.system.quantite}}</div>
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="zonecontrole">
			                    	<div class="cache">
					                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
					                    <div class="item-poid">{{item.system.poids}}</div>
					                    <div class="item-valeur">{{item.system.valeur}}</div>
					                </div>
			                    
			                    	<div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
				                    <div class="item-controls">
				                    	<div class="item-techno">{{item.system.techno}}</div>
				                    	<span class="item-equip" title="Equipé Chargeur" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}">+</span>
				                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
				                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>
			                    </div>
			                </li>
			            {{/each}}
		        		</ul>
				</div>
				{{!-- Features Tab --}}
				<div id="features" class="tab features"  data-group="primary" data-tab="features">
					<h3>{{localize 'libersf.ia'}}</h3>
					<div class="zoneinfo inventator">
						
						<h2 style="text-align: center;">{{localize 'libersf.mode'}}</h2>
						{{#each actor.system.attributs as |value caract|}}
							<div class="compt compt{{@index}}">
							  <a class="jetdedes" data-name="{{caract}}" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{value}}" title="{{caract}}">{{localize caract}}</a>
							  <input class="cpt{{@index}}" type="text" name="system.attributs.{{caract}}" value="{{value}}">
							</div>
						{{/each}}
						<div class="clear"></div>		
					</div>
					<div class="grid-2col left">
						<h2 style="text-align:center">{{localize 'libersf.restant'}}</h2>
						<input class="pointrestant" type="text" value="{{actor.system.stat.pointrestant}}" readonly/>
					</div>
					<div class="grid-2col left">
						<h2 style="text-align:center">{{localize 'libersf.bonusmj'}}</h2>
						<input class="malussactor" name="system.malus" type="text" value="{{actor.system.malus}}" placeholder="0"/>
					</div>
				</div>
				{{!-- Lab Tab --}}
				<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
					<h3>Inventaire</h3>
					<div class="zoneinfo inventator">
						
						
		                <div class="grid-2col">
							<h2>{{localize 'libersf.faction'}}</h2>
							<select class="factionliste" size="1" name="system.model.faction">
								{{selectOptions listValues.faction selected=actor.system.model.faction labelAttr="label" localize=true blank="libersf.none"}}
			                </select>
			            </div>
						<div class="grid-2col">
							<h2>{{localize 'libersf.type'}}</h2>
							<select class="typeliste" size="1" name="system.model.type.nb">
								{{selectOptions listValues.type selected=actor.system.model.type.nb labelAttr="label" localize=true blank="libersf.none"}}
			                </select>
			            </div>
			            <div class="grid-2col">
			            	<h2>{{localize 'libersf.taille'}}</h2>
							<select class="tailleliste" size="1" name="system.model.taille.nb">
								{{selectOptions listValues.taille selected=actor.system.model.taille.nb labelAttr="label" localize=true blank="libersf.none"}}
			                </select>
			            </div>
			            <div class="grid-2col">
			            	<h2>{{localize 'libersf.ia'}}</h2>
							<select class="ialiste" size="1" name="system.model.ia.nb" title="">
								{{selectOptions listValues.niveau selected=actor.system.model.ia.nb labelAttr="label" localize=true blank="libersf.none"}}
			                </select>
			            </div>
						<div class="grid-2col" title="">
							<h2>{{localize 'libersf.moteur'}}</h2>
							<select class="moteurliste" size="1" name="system.model.moteur.nb" title="">
								{{selectOptions listValues.niveau selected=actor.system.model.moteur.nb labelAttr="label" localize=true blank="libersf.none"}}
			                </select>
						</div>
						<div class="grid-2col" title="">
							<h2>{{localize 'libersf.blindage'}}</h2>
							<select class="blindageliste" size="1" name="system.model.blindage.nb" title="">
								{{selectOptions listValues.niveau selected=actor.system.model.blindage.nb labelAttr="label" localize=true blank="libersf.none"}}
			                </select>
						</div>
						<div class="grid-2col">
							<h2>{{localize 'libersf.comp'}}</h2>
		                	<input type="text" name="system.nomcomp" value="{{actor.system.nomcomp}}" placeholder="Con. Spec." style="float: left;background: #0d0d0d;">
						</div>	

						<div class="clear"></div>				
					</div>	
					<div class="grid-2col left">   
						<h2>{{localize 'libersf.valid'}}</h2>             
	                	<input class="bouton vehichoix" type="a" value="{{localize 'libersf.choisir'}}">
	                </div>
				</div>
			</section>
			<div class="etat">
				{{#each actor.system.background.etat as |value etat|}}
			  		<a class="etat{{@index}} chnget" data-lettre="{{@index}}" style="opacity: {{value}};"></a>
				{{/each}}	
			</div>
		</div>
	</div>
</form>