<div class="inventory-list cut-corner">
	<div class="half">
        <label>{{localize 'Liber.Items.Poids'}}
			{{formInput systemFields.poids name="system.poids" value=system.poids localize=true rootId=partId}}
	    </label>  
        <label>{{localize 'Liber.Items.Consommable'}}
            {{formInput systemFields.consommable name="system.consommable" value=system.consommable localize=true rootId=partId}}
        </label>          
    </div>
    <div class="half">
        <label>{{localize 'Liber.Items.Valeur'}}
			{{formInput systemFields.valeur name="system.valeur" value=system.valeur localize=true rootId=partId}}
	    </label>  
        <label>{{localize 'Liber.Items.Techno'}}
            {{formInput systemFields.techno name="system.techno" value=system.techno localize=true rootId=partId}}
        </label>         
    </div>
</div>